<div class="container dark">
	<div class="inner">
	<!-- Your content goes here -->
	<!-- Example: -->
		<h2>
		  WE HAVE HELPED BRANDS INCLUDING
		</h2>
		
		<div class="iconlist">
			{% include '_clientlist.html' %}
		</div>
		
		<p>We work with scale-ups who need to refine their story before investment or growth. Och vi älskar Nordic businesses expanding to the UK.</p>

		<p>To understand if we can help you, let's have a chat around where your business is today, and where you want to be tommorrow.</p>
		
		<!-- Calendly link widget begin -->
		<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
		<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
		<a href="" class="bigbutton" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/theindependencyco/ann-matthew-discovery-call'});return false;">Schedule a Chat</a>
		<a href="mailto:workwith@strategicstorytellers.co.uk" class="bigbutton" >Email us</a>
		<!-- Calendly link widget end -->

	</div>
	
	<div class="inner footer" style="margin-top: 200px">
		<strong>Ann + Matthew.</strong><br/>
		A strategic storytelling superteam.<br/>
		<a href="index.html#contact">Contact Us</a>. <a href="work.html">Case Studies.</a>.
	</div>
</div>