<a href="#casestudy-alva-coming-soon" style="background-image:url(img/client-alva.png);"><span>Alva Labs</span></a>
<a href="#casestudy-gofrendly-coming-soon" style="background-image:url(img/client-gf.png);"><span>GoFrendly</span></a>
<a href="#casestudy-buildstudios-coming-soon" style="background-image:url(img/client-build.png);"><span>Build Studios</span></a>
<a href="#casestudy-sanaai-coming-soon" style="background-image:url(img/client-sana.png);"><span>Sana AI</span></a>
<a href="#casestudy-klarna-coming-soon" style="background-image:url(img/client-klarna.png);"><span>Klarna</span></a>