<a href="casestudy-alva.html" style="background-image:url(img/client-alva.png);"><span>Alva Labs</span></a>
<a href="casestudy-gofrendly.html" style="background-image:url(img/client-gf.png);"><span>GoFrendly</span></a>
<a href="casestudy-buildstudios.html" style="background-image:url(img/client-build.png);"><span>Build Studios</span></a>
<a href="casestudy-sanaai.html" style="background-image:url(img/client-sana.png);"><span>Sana AI</span></a>
<a href="casestudy-klarna.html" style="background-image:url(img/client-klarna.png);"><span>Klarna</span></a>