
{% extends '_base.html' %}
{% block main %}


	
	<div class="container dark">
		<div class="inner">
		<!-- Your content goes here -->
		<!-- Example: -->
			<h1>
			  Hire people, not CVs.<br/>
			  <span style="font-size: 80%">positioning and category engagement for startup redefining hiring</span>
			</h1>
			
			<p style="font-size: 20px; font-weight: bold;">Alva Labs were at a pivotal point in their company history - lots of success, lots of plans, but not happy with how they were introducing themselves to the world - so we stepped in to help.</p>
		</div>
	</div>
	
	<div class="container image" style="background-image:url(img/case-alva1.png)"></div>
	
	<div class="container light">
		<div class="inner">
		<!-- Your content goes here -->
		<!-- Example: -->
			<h2>
			  THE STARTING POINT
			</h2>
			
			<p>
				gofrendly is a Stockholm-based start-up that makes it easier for women to make more friends.<br/><br/>
				
				Founded by real-life best friends Claudia Gård and Ulrika Lilja, gofrendly had already converted 80% of Stockholm’s women into monthly active users.<br/><br/>
				
				But their tone of voice wasn’t going to work in the UK. With 8 weeks to go until launch, they needed help, and they needed it quickly.</p>
			
		</div>
	</div>
	
	<div class="container dark">
		<div class="inner">
		<!-- Your content goes here -->
		<!-- Example: -->
			<h2>
			  THE CHALLENGE
			</h2>
			
			<p>
				We asked gofrendly to dig through their archives.  Discover what bones already existed. Allow us to locate their strengths and their gaps.<br/><br/>
				
				They located internal documents — decks, guides, brand frameworks. Everything you’d expect a busy start-up to own, but every document told a slightly different story. The brand wasn’t aligned. The founders couldn’t express who gofrendly really is, and it was frustrating them.<br/><br/>
				
				Building a tone of voice on top of an ill-defined brand wouldn’t address the problem. Despite the tight timeline, we believed we could deliver a refined brand, tone of voice and copy for web, app and email. All in 8 weeks.<br/>
				
			</p>
		</div>
	</div>
	
	<div class="container light">
		<div class="inner">
		<!-- Your content goes here -->
		<!-- Example: -->
			<h2>
			  OUR APPROACH
			</h2>
			
			<p>
				The founders were wrapped up in too many versions of their story - none of which they felt were right. So we took a step back, and asked Claudia and Ulrika tell their own story in their own words. <br/><br/>
				
				We located the true problem they’re solving. We helped them rediscover their purpose, and turned that into a clear positioning for their business.<br/><br/>
				
				The result? <br/><br/>
				
				Ulrika and Claudia, beaming. Two founders saying “Yes, that’s us”.
	
			</p>
		</div>
	</div>
	
	<div class="container image" style="background-image:url(img/linnea.jpeg); background-position: 50% 25%"></div>
	
	<div class="container dark">
		<div class="inner">
		<!-- Your content goes here -->
		<!-- Example: -->
			<h2>
			  WHAT WE CREATED
			</h2>
			
			<p>
				The founders were wrapped up in too many versions of their story - none of which they felt were right. So we took a step back, and asked Claudia and Ulrika tell their own story in their own words. <br/><br/>
				
				We located the true problem they’re solving. We helped them rediscover their purpose, and turned that into a clear positioning for their business.<br/><br/>
				
				The result? <br/><br/>
				
				Ulrika and Claudia, beaming. Two founders saying “Yes, that’s us”.
	
			</p>
		</div>
	</div>
	
	<div class="container light">
		<div class="inner">
		<!-- Your content goes here -->
		<!-- Example: -->
			<h2>
			  WHAT IT DELIVERED
			</h2>
			
			<p>
				The founders were wrapped up in too many versions of their story - none of which they felt were right. So we took a step back, and asked Claudia and Ulrika tell their own story in their own words. <br/><br/>
				
				We located the true problem they’re solving. We helped them rediscover their purpose, and turned that into a clear positioning for their business.<br/><br/>
				
				The result? <br/><br/>
				
				Ulrika and Claudia, beaming. Two founders saying “Yes, that’s us”.
	
			</p>
		</div>
	</div>
	
	
	{% include '_casestudy-footer.html' %}
	
	
{% endblock %}